<div class="parallax">
    <!-- <h1 class="title">Erwan Moreau</h1>
    <h2 class="job">Développeur Web Junior</h2> -->
    <!-- <h1 class="ml15">
            <span class="word">Erwan</span>
            <span class="word">Moreau</span>
    </h1>
     -->
</div>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
  <div class="content__container">
   
    
    <ul class="content__container__list">
      <li class="content__container__list__item">hello World!</li>
      <li class="content__container__list__item">Erwan Moreau</li>
      <li class="content__container__list__item">Développeur Web Junior !</li>
      <li class="content__container__list__item">Bienvenue !</li>
    </ul>
  </div>
</div>