<div class="container-fluid mt-5 customBG pt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h1 class="customTitle">Mes Compétences</h1>
          </div>
          <div class="col-md-12">
            <hr class="customTraitBis">
          </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12 ">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">

        </div>
      </div>
  </div>
</div>