<div class="container-fluid mt-5 customBG pt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h1 class="customTitle">Mes Compétences</h1>
          </div>
          <div class="col-md-12">
            <hr class="customTraitBis">
          </div>
      </div>
      <div class="row mt-5 ">
        <div class="col-md-6  col-sm-12 mt-3">
            <h1 class="customCompetence">HTML</h1>
            <div  class="progress" style="height: 30px;">
                <div id="html" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="82">0%</div>
            </div>
        </div>
        <div class="col-md-6  col-sm-12 mt-3">
          <h1 class="customCompetence">CSS</h1>
          <div  class="progress" style="height: 30px;">
            <div id="css" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="80">0%</div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6  col-sm-12 ">
          <h1 class="customCompetence">Javascript</h1>
          <div  class="progress" style="height: 30px;">
              <div id="java" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="60">0%</div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 ">
            <h1 class="customCompetence">PHP</h1>
          <div  class="progress" style="height: 30px;">
              <div id="php" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="75">0%</div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6  col-sm-12 ">
            <h1 class="customCompetence">NodeJs</h1>
            <div  class="progress" style="height: 30px;">
                <div id="NodeJs" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="35">0%</div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 ">
              <h1 class="customCompetence">SQL</h1>
            <div  class="progress" style="height: 30px;">
                <div id="SQL" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="90">0%</div>
            </div>
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-md-6  col-sm-12 ">
              <h1 class="customCompetence">Angular</h1>
              <div  class="progress" style="height: 30px;">
                  <div id="Angular" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="60">0%</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 ">
                <h1 class="customCompetence">Laravel</h1>
              <div  class="progress" style="height: 30px;">
                  <div id="Laravel" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="64">0%</div>
              </div>
            </div>
      </div>
      <div class="row mt-2">
          <div class="col-md-6  col-sm-12 ">
              <h1 class="customCompetence">Python</h1>
              <div  class="progress" style="height: 30px;">
                  <div id="Python" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="20">0%</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 ">
                <h1 class="customCompetence">Photoshop</h1>
              <div  class="progress" style="height: 30px;">
                  <div id="Photoshop" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="62">0%</div>
              </div>
            </div>
      </div>
  </div>
</div>