<div class="container-fluid mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="customTitle">A propos de moi</h1>
      </div>
      <div class="col-md-12">
        <hr class="customTrait">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ipsa cumque, in, autem blanditiis tenetur mollitia at maiores ut et necessitatibus amet aspernatur tempore, quae sequi repudiandae corporis ipsam laboriosam.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae aliquam et commodi fugit architecto asperiores excepturi corporis nisi! Voluptatibus quis assumenda amet neque iste, aliquid incidunt tempore reprehenderit odit ducimus.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum nulla esse quo veritatis vitae illo quos ratione deleniti fugit saepe cum magnam ipsam, non suscipit. Nihil animi unde velit sequi!
          
        </p>
      </div>
    </div>
  </div>
</div>