<div class="container-fluid mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="customTitle">Contact</h1>
      </div>
    </div>
    <form>
        <div class="row mt-3">
          <div class="col-6">
            <label for="inputNom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
          </div>
          <div class="col-6">
            <label for="inputPrenom">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom">
          </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
              <label for="inputEmail">email</label>
              <input type="text" class="form-control" id="sujet" name="email" placeholder="email@gmail.com">
            </div>
            <div class="col-12 mt-2">
              <label for="inputSujet">Sujet</label>
              <input type="text" class="form-control" id="sujet" name="sujet" placeholder="Sujet">
            </div>
          </div>
          <div class="form-group mt-2">
              <label for="inputMessage">Message</label>
              <textarea class="form-control" id="message" rows="7" name="message"></textarea>
          </div>
      </form>
  </div>
</div>