<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Erwan Moreau</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="nav navbar-nav ml-auto">
        <a class="nav-link link-mgr" href="#">A propos de moi</a>
        <a class="nav-link link-mgr" href="#">Mes Compétences <span class="sr-only">(current)</span></a>
        <a class="nav-link link-mgr" href="#">Mes Projet</a>
        <a class="nav-link link-mgr" href="#">Mon CV</a>
        <a class="nav-link" href="#">Contact</a>
        
    </div>
    <div class="btn-container">
      <button class="btn fr btn-sm btn-outline-info" (click)="Activebtn('fr', 1)">FR</button>
      <button class="btn en btn-sm btn-outline-info" (click)="Activebtn('en', 1)">EN</button>
    </div>
  </div>
</nav>
    