<div class="container-fluid mb-5">
  <div class="container">
    <div class="content">
      <div class="row mt-5">
        <div class="col-md-12 ">
          <h1 class="customTitle">Mes projets</h1>
        </div>
        <div class="col-md-12 mb-5">
          <hr class="customTrait">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="grid">
            <figure class="effect-sarah">
              <img src="https://fakeimg.pl/320x240/" alt="img13"/>
              <figcaption>
                <h2><span>Portfolio</span></h2>
                <p>Création de mon portfolio professionnel, afin de me perfectionner</p>
                <a href="">View more</a>
              </figcaption>			
            </figure>
          </div>
        </div>
        <div class="col-md-4">
          <div class="grid">
            <figure class="effect-sarah">
                <img src="https://fakeimg.pl/320x240/" alt="img13"/>
              <figcaption>
                <h2>ComuE <span>Uniquitaine</span></h2>
                <p>Développeur front-end pour la ComuE d'Aquitaine sur le Projet Uniquitaine</p>
                <a href="#">View more</a>
              </figcaption>			
            </figure>
          </div>
        </div>
        <div class="col-md-4">
          <div class="grid">
            <figure class="effect-sarah">
                <img src="https://fakeimg.pl/320x240/" alt="img13"/>
              <figcaption>
                <h2>Scolaire <span>EOS</span></h2>
                <p>Projet scolaire de fin de formation, Association Fictif.</p>
                <a href="#">View more</a>
              </figcaption>			
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




    
