@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    height: 10000px;
}
.customTitle{
  font-family: 'Solway', serif;
  font-weight: bold;
  color: #38A2B7;
}

.customTrait{
    background: linear-gradient(to bottom right, #38A2B7,white);
    width: 315px;
    height: 2px;
    position: absolute;
    left: 15px;
}
.customTraitBis{
    background: linear-gradient(to bottom right, black  , #38A2B7);
    width: 340px;
    height: 2px;
    position: absolute;
    left: 15px;
}

@media screen and (max-width: 640px) {

    .customTrait{
        background: linear-gradient(to bottom right, #38A2B7,white );
        width: 320px;
        height: 2px;
        position: absolute;
        left: 15px;
    }
    .customTraitBis{
        background: linear-gradient(to bottom right, black  ,lightgray);
        width: 340px;
        height: 2px;
        position: absolute;
        left: 15px;
    }
}

html, body{
 font-family: 'Roboto Mono', monospace;
  background: ;
  height: 100%;
}

.text{
  font-weight: 100;
  font-size: 28px;
  color: #FAFAFA;
}
.dud{
  color: #757575;
}


.customTAC{
  text-align: center;
}



